body{
  width:90%;
  margin:auto;
  background: -webkit-linear-gradient(90deg, rgb(255, 248, 220), rgb(237, 210, 95));
  background: linear-gradient(90deg, rgb(255, 248, 220), rgb(237, 210, 95));
  background: url("../img/cover.png") no-repeat fixed;
  background-size: cover;
  background-position: bottom right;
}

q{
  display: block;
  font-size:160%;
  background:#E2E2E2;
  border-left: solid 3px firebrick;
  padding: 0 30px;
  margin: 80px auto;
  width: 50%;

}

q{
  font-style: italic;
}

span , em {
  text-transform: capitalize;
}

span {
  color: green;
}
body > p{
  font-weight: bold;
}

em {
  color: red;
}

tr:nth-child(even){
  background-color: grey;
}
li{
  display: block;
  padding: 20px 0px;
  background-position: 23% center;
}
li:nth-child(1){
  background-image: url("https://github.com/becodeorg/lovelace-2/raw/master/01-La-prairie/html-css/progressive-enhancement/bien.png");
  background-repeat: no-repeat;

}
li:nth-child(2){
  background-image: url("https://github.com/becodeorg/lovelace-2/raw/master/01-La-prairie/html-css/progressive-enhancement/mal.png");
  background-repeat: no-repeat;

}
li:nth-child(3){
  background-image: url("https://github.com/becodeorg/lovelace-2/raw/master/01-La-prairie/html-css/progressive-enhancement/chat.png");
  background-repeat: no-repeat;
}
