html, body, ol, li, h1, h2, div, p{
  padding: 0px;
  margin: 0px;
}
.container{
  margin: auto;
  font-family: Arial;
}

nav{
  display: flex;
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-around;
}
nav ol{
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 475px;
  left: 250px;
}
header{
  height: 315px;
  background: #1e93cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.buttom_top{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 65px;
  background-color: #e99002;
  border: solid 2px white;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: bold;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-weight: normal;
}
.text_middle{

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  background-color: #1e93cc;
}
.text_middle ol{
  margin: 0px 10px;
  list-style: none;
  width: 560px;
}
.text_middle h1{
  font-weight: normal;
}
.sponsor{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 295px;
  background-color: #eeeeee;
}
