html, body, ol, li, h1, h2, div, p, footer{
  padding: 0px;
  margin: 0px;
}
.container{
  margin: auto;
  font-family: Arial;
}
nav{
  display: flex;
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-around;
}
nav ol{
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 475px;
  left: 250px;
}
header{
  height: 315px;
  background: #1e93cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("../img/geek.png");
  background-repeat: no-repeat;
  background-position: 120px 30px;
  background-size: 230px;
}
.button{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 65px;
  background-color: #e99002;
  border: solid 2px white;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: bold;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-weight: normal;
}
div + h2 {
  color: #7d6f6f;
}
.text_middle{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  background-color: #1e93cc;
}
.text_middle ol{
  margin: 0px 10px;
  list-style: none;
  width: 560px;
}
.text_middle h1{
  font-weight: normal;
}
.sponsor{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 295px;
  background-color: #eeeeee;
}
.text_middle li {
  padding-top: 10px;
}
main p, h1{
  margin: 10px;
}
main p{
  font-size: 15px;
}
main h1 {
  font-size: 26px;
  font-weight: normal;
}
.space_button_bottom{
  display: flex;
  justify-content: center;
  height: 250px;
  margin-top: 30px;
  color: #fff;
}
.space_button_bottom div:nth-last-child(1n+2){
  background-color: #165882;
}
footer{
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}
footer ol{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 415px;
}
footer p{
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 10px;
}
footer ol li:nth-child(1n+2){
  border-left: dotted 1px gray;
}
footer ol li {
  padding-left: 8px;
}
