*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: #e9edf2;
}
header{
  height: 230px;
}
.nav_bar{
  background-color: #e9edf2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 72px;
  position: fixed;
}
.nav_bar_left{
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}
.nav_bar_right{
  width: 525px;
}
.bottun_top_right{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  border: solid 1px;
  width: 190px;
}
.bottun_try{
  background-color: #3f9bf8;
}
.nav_bar_left ul{
  width: 100%;
  margin-left: 5px;
}
.slogan{
  display: flex;
  justify-content: center;
  position: relative;
  top: 128px;
  margin: auto;
  height: 160px;
}
.content_top{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f4655;
}
.sec-help{
  height: 845px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-help p{
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  width: 700px;
  margin: 25px 0px;
}
.sec-help .button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 270px;
  background-color: #3093f7;
  border: solid 1px;
  border-radius: 10px;
}
.sec-help h5{
  text-align: center;
  margin-top: 8px;
}
.cloud{
  height: 825px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.cloud-col{
  width: 50%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 440px;
  }
.cloud-col li {
  height: 437px;
  background-color: green;
  width: 50%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.cloud-col li:nth-child(1){
  border-right: 1px solid;
  background-color: blue;
}
